PORT=4000
NODE_ENV=development
AUTO_MIGRATE=true
JWT_SECRET=please_change_this_secret
JWT_REFRESH_SECRET=please_change_this_refresh_secret
ACCESS_TOKEN_EXPIRES_IN=900 # 15 minutes in seconds
REFRESH_TOKEN_EXPIRES_IN=2592000 # 30 days in seconds


# Database Configuration (Separated Credentials)
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=healthcare

# Primary Prisma Connection String
DATABASE_URL=postgresql://postgres:your_postgres_password@localhost:5432/healthcare

# Database Seed Config
SEED_THERAPIST_NAME="Dr. Sarah Jenkins"
SEED_THERAPIST_EMAIL="therapist@wysa.com"
SEED_THERAPIST_PASSWORD="Password123!"

SEED_PATIENT_NAME="John Doe"
SEED_PATIENT_EMAIL="patient@wysa.com"
SEED_PATIENT_PASSWORD="Password123!"

SEED_SCHEDULE_START_TIME="09:00"
SEED_SCHEDULE_END_TIME="17:00"
SEED_SCHEDULE_SLOT_DURATION="30"
